* {
  background-color: black;
}

img {
  height: 100px;
  width: 100px;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.number {
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.number h1 {
  font-size: 60px;
}

.plus button,
.minus button,
.reset button {
  transition: transform 0.1s;
  border: none;
}

.plus button:active,
.minus button:active,
.reset button:active {
  transform: scale(0.85);
}
